@media only screen and (min-width:1000px) {
    body {
        padding: 25px;
        display: grid;
        justify-content: center;
        align-items: center;
        overflow: hidden;
    }

    .list-body {
        max-height: 500px;
        border: 1px solid #505050;
        border-radius: 5px;
        overflow: hidden;
    }
    /* header{
        position: sticky;
        top: 0;
    } */

    main {
        max-height: calc(500px - 146px - 7px);
    }

    footer {
        position: relative;
    }
}

@media (prefers-color-scheme: light) {
    body {
        background-color: #fff;
        color: #000;
    }

    header {
        background-color: #fff;
        border-bottom: 1px solid #dcdcdc;
    }

    .info .list-count {
        background-color: transparent;
        box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.20);
    }

    .info .menu {
        background-color: #fff;
        box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.20);
    }

    .menu .icon {
        color: #000;
    }

    .menu .menu-container {
        background-color: #fff;
        box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.20);
        border: 0;
    }

    .menu-container .user-detail .name {
        background-color: #f1f1f1;
        border-bottom: 1px solid #ddd;
    }

    .menu-container .user-detail .email {
        background-color: #f1f1f1;
    }

    .menu-container .menu-btn {
        background-color: #f1f1f1;
        border-top: 1px solid #ddd;
    }

    .menu-container .menu-btn:hover {
        background-color: #ddd;
    }

    .menu-container .menu-btn .menu-in {
        color: #000;
    }

    .menu-container .menu-btn .menu-out {
        color: #000;
    }

    .list {
        background-color: #fff;
        box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.20);
    }

    .list-btn .edit-btn,
    .del-btn {
        background-color: #fff;
        box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.20);
        color: #000;
    }

    .list-btn .edit-btn:hover,
    .del-btn:hover {
        background-color: #fff;
    }

    .list-btn .edit-btn:focus {
        background-color: #00bfff;
        color: #fff;
    }

    .list-btn .del-btn:focus {
        background-color: #ff0000;
        color: #fff;
    }

    footer {
        background-color: #fff;
        border-top: 1px solid #dcdcdc;
    }

    footer .add-container {
        background-color: #fff;
        box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.20);
    }

    .add-container input[type=text] {
        color: #000;
    }

    .add-container .add-btn {
        background-color: #f1f1f1;
        color: #000;
    }

    .add-container .add-btn:hover {
        background-color: #f1f1f1;
    }

    .add-container .add-btn:focus {
        background-color: #ddd;
    }

    @media (min-width:1000px) {
        .list-body {
            border: 1px solid #dcdcdc;
            overflow: hidden;
        }
    }
}